/*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');*/

::-webkit-scrollbar {
width:.1px;
height:5px;
pacity:.02
}

::-webkit-scrollbar-button {
height:50px;
background:#42e10e
}

::-webkit-scrollbar-track {
background:#274dd7
}

::-webkit-scrollbar-track-piece {
background:#e91e63
}

::-webkit-scrollbar-thumb {
background:#fbe100;
border-radius:10px;
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3)
}

html {
min-width:1280px;/**/
}

body {
margin:0;
padding:0;
font-family:'Montserrat';
font-size:18px;
background-color:#FDFCEF;
background-image:url(https://img.freepik.com/premium-photo/abstract-white-wave-background-3d-illustration_37416-429.jpg?size=626&ext=jpg&uid=R85390089&ga=GA1.2.882655275.1677006820&semt=sph);/*../public/images/abstractfirebloom.png*/
webkit-filter:blur(135px);
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;/*для фото не пойдёт, при еменьшении экрана режет фото*/
box-shadow:inset 1280px 844px rgb(9 16 255 / 0%)
}

* {
box-sizing:border-box
}

.container {
width:1110px;
margin:0 auto
}

section {
padding-top:120p
}

.header {
 height: 881px;
background-image: url(../public/images/les-gory-ozero-sineva-bereg-eli-kanada-vodoem-natsionalnyi-1.jpg) ;/*"http://denis-creative.com/wp-content/uploads/2018/05/mountain.jpg" 
les-gory-ozero-sineva-bereg-eli-kanada-vodoem-natsionalnyi-1.jpg*/
background-size: cover;
-webkit-filter:blur(10p); 
box-shadow:inset 1280px 844px rgb(9 16 255 / 0%); 
}

.header-container {
padding-top:55p
}

.link {
    display: block;
    width: 50px;
    height: 50px;
}

.git {
    width: 50px;
    height: 50px;
    margin-top: 18px;
    margin-left: 1133p;
}

.navigation {
padding-top: 17px;
padding-bottom:52px;
-webkit-filter:blur(10p)
}

.header-logo {
width:50px;
height:50px
}

.header-container__content {
isplay:flex;
padding-top:47p;
}

.header-text__h1 {
width:1110px;
padding-bottom:33p;
margin:0;
font-size:106px;
text-align:center;
text-transform:uppercase;
letter-spacing:.035em;
color:#fff
}

.wrapp-flowers-hand {
    display: fle;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 85p;
}

.filter-hand {
position: absolute;
display:block;
margin:0;
width:451px;
top: 603px;
left: 426px;
height:278px;
object-fit:scale-down;
background-image:url(../public/images/hand.png);
background-size:cover;
ransform:matrix(-1,0,0,1,0,0);
-webkit-filter:blur(1p)
}

.filter-lake {
position:absolute;
display:block;
width:198px;
height:150px;
bottom: 446px;
left: 1058px;
border-radius:69px;
background-image:url(../public/images/images-1-2-3.png);
background-size:cover;
-webkit-filter:blur(1px);
box-shadow:inset 1280px 844px rgb(9 16 255 / 0%)
}

.cardAdd_flowers {
position: absolute;
width: 221p;
height: 145p;
top: 22p;
left: 156p;
 padding-top: 25px;
padding-left: 154px;
margin: 0;
ackground-image: url(../public/images/box-benzin-preview.png);/*treeth-benzin-preview-1-2.png*/
background-size: cover;
-webkit-filter:blur(1p);
box-shadow:inset 1280px 844px rgb(9 16 255 / 0%); 
z-index: 2;
cursor: pointer;
ransform:matrix(-1,0,0,1,0,0); 
}

.box {
width:211px
}

.photoOff_filter-flowers {
position:;
display:none;
align-items: baseline;
justify-content: ;
bottom: 257px;
left: 412px;
padding-bottom: 84p;
margin: 0 auto;
margin-top: -463p;
 text-align: center;
}

.candys {
position:;
width:300px;
height:300px;
top:249px;
right:353px
}

.flowers {
width:500px;
height:500px
}

.botle {
position:;
width:125px;
height:290px;
top:244px;
right:-74px
}

.textAdd_text-box_greeting {
position:absolute;
display:none;
width:1110px;
right:231p;
margin:0;
bottom:-52p;
font-size:54px;
text-transform:uppercase;
letter-spacing:.035em;
background:linear-gradient(90.14deg,#00FF38 1.91%,#BD00FF 50.81%,#FF8C04 101.53%);
-webkit-background-clip:text;
webkit-text-fill-color:transparent;
background-clip:text;
text-fill-color:transparent
}

.footer {
padding:120p 0;
text-align:center;
font-size:15px;
color:#fff
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1199px) {
 .filter-lake {
bottom:364px
}   
}

@media screen and (max-width: 1024px) {
.filter-lake {
bottom:364px
}
}

@media screen and (max-width: 991px) {
.filter-lake {
right:214p
}
}

@media screen and (max-width: 800px) {
.filter-lake {
bottom:364px
}
}

@media screen and (max-width: 768px) {
.filter-lake {
bottom:194p
}
}

@media screen and (max-width: 575px) {
.filter-lake {
right:-201p
}
}

@media screen and (max-width: 425px) {
.filter-lake {
right:-354p
}
}

@media screen and (max-width: 375px) {
.filter-lake {
right:-410p
}
}